@model ProyectoIntegrador.Models.Pregunta

@{
    Layout = null;

}

@Html.Partial("~/Views/Partial/header.cshtml");



<!-- Page Content -->

<div id="page-wrapper">

    <div class="container-fluid">

        <div class="row bg-title">

            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

                <h4 class="page-title">Pregunta</h4>
            </div>

            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                <ol class="breadcrumb">

                    <li><a href="#">Preguntas</a></li>

                    <li class="active">Crear</li>

                </ol>

            </div>

            <!-- /.col-lg-12 -->

        </div>

        <!-- /row -->

        <div class="row">

            <div class="col-sm-12">

                <div class="white-box">



                    <div class="row">
                        <div class="col-sm-12">
                            Crear preguntas:
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-sm-12">

                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>Crear pregunta</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    <div class="form-group">
                                        <label class="control-label col-md-2">Tema de la pregunta</label>
                                        <div class="col-md-4">
                                            <select class="ui fluid search dropdown form-control" name="tema" data-original="" id="tema">
                                                <!--<option value="">Tema</option>-->
                                                @if (ViewBag.Temas != null)
                                                {
                                                    foreach (var item in ViewBag.Temas)
                                                    {
                                                        <option value="@(item.ClaveTema)">@(item.NombreTema)</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Texto, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Texto, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            <select name="Tipo" id="Tipo" class="form-control" onchange="respuesta(this.value);">
                                                <option value="0">-</option>
                                                <option value="1">Opcion multiple</option>
                                                <option value="2">V/F</option>
                                            </select>
                                            @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Dificultad, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            <select name="Dificultad" id="Dificultad" class="form-control">
                                                <option value="1">Facil</option>
                                                <option value="2">Regular</option>
                                                <option value="3">Intermedia</option>
                                                <option value="4">Avanzada</option>
                                            </select>
                                            @Html.ValidationMessageFor(model => model.Dificultad, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <!--<div class="form-group">
                                        <label class="col-md-2 control-label">Imagen</label>
                                        <div class="col-md-10">
                                            <input type="file" name="ImageFile" id="ImageFile"/>
                                        </div>
                                    </div>-->

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Imagen URL</label>
                                        <div class="col-md-10">
                                            <input type="text" name="ImageFileURL" id="ImageFileURL" />
                                        </div>
                                    </div>

                                    <!--Seccion de respuestas-->
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            Respuesta
                                        </div>
                                    </div>

                                    <div id="opciones">
                                    </div>


                                    <!--<div class="form-group">
                                        <label class="control-label col-md-2">Opcion de respuesta correcta</label>
                                        <div class="col-md-1">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>-->

                                    <!--<div class="form-group">
                                        @Html.LabelFor(model => model.TextoRespuesta, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.TextoRespuesta, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TextoRespuesta, "", new { @class = "text-danger" })
                                        </div>
                                    </div>-->

                                    <!--
                                        HTML que escribe la funcion opcionMultiple  -- 
                                    
                                    <div class="form-group">
                                        <a class="control-label col-md-2">Correcta</a>
                                        <div class="col-md-2">
                                            <input id="cTextoRespuesta" type="text" class="form-control" placeholder="textoRespuesta" />
                                        </div>
                                        <div class="col-md-4">
                                            <input id="cRespuesta" type="text" class="form-control" placeholder="respuesta" />
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn-default" onclick="addOpcion();">Agregar respuesta</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a class="control-label col-md-2">Incorrecta</a>
                                        <div class="col-md-2">
                                            <input id="iTextoRespuesta-0" type="text" class="form-control" placeholder="textoRespuesta" />
                                        </div>
                                        <div class="col-md-4">
                                            <input id="iRespuesta-0" type="text" class="form-control" placeholder="respuesta" />
                                        </div>
                                        <div class="col-md-4">
                                            <textarea id="explicacion-0"type="text" class="form-control" placeholder="explicación" ></textarea>
                                        </div>
                                    </div>
                                    <div id="respuestasIncorrectas"></div>

                                    -->

                                    <!--
                                        HTML que escribe la funcion falsoVerdadero --   
                                    
                                    <div class="form-group">
                                        <a class="control-label col-md-2">Respuesta correcta</a>
                                        <div class="col-md-4">
                                            <select name="respuestaCorrecta" id="respuestaCorrecta" class="form-control">
                                                <option value="1">Falso</option>
                                                <option value="2">Verdadero</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a class="control-label col-md-2">Falso</a>
                                        <div class="col-md-2">
                                            <input id="falsoTextoRespuesta" type="text" class="form-control" placeholder="textoRespuesta"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a class="control-label col-md-2">Verdadero</a>
                                        <div class="col-md-2">
                                            <input id="verdaderoTextoRespuesta" type="text" class="form-control" placeholder="textoRespuesta"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a class="control-label col-md-2">Explicación</a>
                                        <div class="col-md-4">
                                            <textarea id="vfExplicacion"class="form-control"></textarea>
                                        </div>
                                    </div>-->

                                    <!--FIN de seccion de respuestas-->

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Pregunta creada por:</label>
                                        <div class="col-md-2">
                                            @Html.DropDownList("Id", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Crear" class="btn btn-success" onclick="SendInformation()"/>
                                        </div>
                                    </div>

                                </div>

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>

                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <script type="text/javascript">
            function algo() {
                $(document).ready(function () {
                    $("#Tipo").change(function () {
                        $("#opciones").html('');
                        if (this.value == '1') {
                            //if opcion multiple
                            //for
                        } else {
                            //if vf
                            addAnswer();
                        }

                    });
                    function addAnswer() {
                        var html = '';
                        html = '<div class="col-md-1">' +
                            '<input class="form-control text-box single-line" id= "" name= "opcion" type= "text" >' +
                            '</div>';
                        $('#opciones').append(html);
                    }
                });
            }

            function respuesta(value) {
                //alert(value);
                if (value == 1) {
                    opcionMultiple();
                }

                if (value == 2) {
                    falsoVerdadero();
                }
            }

            function opcionMultiple() {
                var html = "";
                html = '<div class="form-group"> <a class="control-label col-md-2">Correcta</a> <div class="col-md-2"> <input id="cTextoRespuesta" type="text" class="form-control" placeholder="inciso" /> </div> <div class="col-md-4"> <input id="cRespuesta" type="text" class="form-control" placeholder="respuesta" /> </div> <div class="col-md-2"> <a class="btn-default" onclick="addOpcion();">Agregar respuesta</a> </div> </div> <div class="form-group"> <a class="control-label col-md-2">Incorrecta</a> <div class="col-md-2"> <input id="iTextoRespuesta-0" type="text" class="form-control" placeholder="inciso" /> </div> <div class="col-md-4"> <input id="iRespuesta-0" type="text" class="form-control" placeholder="respuesta" /> </div> <div class="col-md-4"> <textarea id="explicacion-0"type="text" class="form-control" placeholder="explicación" ></textarea> </div> </div> <div id="respuestasIncorrectas"></div>';
                $('#opciones').html(html);
            }

            function falsoVerdadero() {
                var html = "";
                html = '<div class="form-group"> <a class="control-label col-md-2">Respuesta correcta</a> <div class="col-md-4"> <select name="respuestaCorrecta" id="respuestaCorrecta" class="form-control"> <option value="0">Falso</option> <option value="1">Verdadero</option> </select> </div> </div> <div class="form-group"> <a class="control-label col-md-2">Falso</a> <div class="col-md-2"> <input id="falsoTextoRespuesta" type="text" class="form-control" placeholder="inciso"/> </div> </div> <div class="form-group"> <a class="control-label col-md-2">Verdadero</a> <div class="col-md-2"> <input id="verdaderoTextoRespuesta" type="text" class="form-control" placeholder="inciso"/> </div> </div> <div class="form-group"> <a class="control-label col-md-2">Explicación</a> <div class="col-md-4"> <textarea id="vfTextoRespuesta"class="form-control"></textarea> </div> </div>';
                $('#opciones').html(html);
            }

            var i = 1;

            function addOpcion() {
                var html = '';
                html =  '<div class="form-group">                                                        '+
                        '    <a class="control-label col-md-2">Incorrecta</a>                            '+
                        '    <div class="col-md-2">                                                      '+
                    '        <input id="iTextoRespuesta-' + i +'" type="text" class="form-control" placeholder="inciso" /> '+
                        '    </div>                                                                      '+
                        '    <div class="col-md-4">                                                      '+
                    '        <input id="iRespuesta-' + i +'" type="text" class="form-control" placeholder="respuesta" />      '+
                    '    </div>                                                                      ' +
                    '<div class="col-md-4">                                                               '+
                    '    <textarea id="explicacion-'+i+'" type="text" class="form-control" placeholder="explicación" ></textarea>'+
                    '</div>                                                                               '+
                    '</div>';
                i++;
                $('#respuestasIncorrectas').append(html);
            }

            function SendInformation() {

                var id = parseInt(document.getElementById("Id").value);
                var tipo = parseInt(document.getElementById("Tipo").value);
                var tema = document.getElementById("tema").value;
                var texto = document.getElementById("Texto").value;
                var dificultad = parseInt(document.getElementById("Dificultad").value);
                //var imageFile = document.getElementById("ImageFile").files[0].name;
                var imageFileURL = document.getElementById("ImageFileURL").value;
                var pregunta = new Object();

                if (tipo == 1) {
                    var respuestaCorrecta = new Object();
                    var respuestasLista = new Array();

                    var ctr = document.getElementById("cTextoRespuesta").value;
                    var cr = document.getElementById("cRespuesta").value;
                    respuestaCorrecta.ctr = ctr;
                    respuestaCorrecta.cr = cr;
                    respuestasLista.push(respuestaCorrecta);

                    for (var a = 0; a < i; a++) {
                        var itr = document.getElementById("iTextoRespuesta-"+a).value;
                        var ir = document.getElementById("iRespuesta-"+a).value;
                        var ie = document.getElementById("explicacion-" + a).value;

                        var respuestaIncorrecta = new Object();
                        respuestaIncorrecta.itr = itr;
                        respuestaIncorrecta.ir = ir;
                        respuestaIncorrecta.ie = ie;

                        respuestasLista.push(respuestaIncorrecta);
                    }

                    //La primera es la correcta
                    pregunta.respuestasLista = respuestasLista;

                }
                else if (tipo == 2) {
                    var verdaderoTextoRespuesta = document.getElementById("verdaderoTextoRespuesta").value;
                    var falsoTextoRespuesta = document.getElementById("falsoTextoRespuesta").value;
                    var vfExplicacion = document.getElementById("vfTextoRespuesta").value;
                    var respuestaCorrecta = document.getElementById("respuestaCorrecta").value;

                    pregunta.v = verdaderoTextoRespuesta;
                    pregunta.f = falsoTextoRespuesta;
                    pregunta.respuesta = respuestaCorrecta;
                    pregunta.explicacion = vfExplicacion;
                }

                var postData = { pregunta: JSON.stringify(pregunta), tipo, tema, dificultad, texto, id, imageFileURL };









                $.ajax({
                    type: "POST",
                    url: "/Preguntas/Create",
                    data: postData,
                    traditional: true,
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            window.location.href = data.url;
                        }
                    },
                    error: function (xmlhttprequest, textstatus, errorthrown) {
                        alert(" conection to the server failed ");
                        console.log("error: " + errorthrown);
                    }
                });
            }

        </script>



        @Html.Partial("~/Views/Partial/footer.cshtml");
