@model ProyectoIntegrador.ViewModels.PreguntaRespuestasVM

@{
    Layout = null;

}

@Html.Partial("~/Views/Partial/header.cshtml");



<!-- Page Content -->

<div id="page-wrapper">

    <div class="container-fluid">

        <div class="row bg-title">

            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

                <h4 class="page-title">Pregunta</h4>
            </div>

            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                <ol class="breadcrumb">

                    <li><a href="#">Preguntas</a></li>

                    <li class="active">Editar</li>

                </ol>

            </div>

            <!-- /.col-lg-12 -->

        </div>

        <!-- /row -->

        <div class="row">

            <div class="col-sm-12">

                <div class="white-box">



                    <div class="row">
                        <div class="col-sm-12">
                            Editar pregunta:
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-sm-12">

                            <div class="form-horizontal">
                                <h4>Editar Pregunta</h4>
                                <input type="hidden" value="@Model.pregunta.IDPregunta" name="idPregunta" id="idPregunta" />

                                <div class="form-group">
                                    <label class="control-label col-md-2">Temas:</label>
                                    <div class="col-md-2">
                                        @Html.DropDownList("ClaveTema", new SelectList(ViewBag.Temas, "ClaveTema", "NombreTema", ViewBag.SelectedTema), htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>

                                @*<div class="form-group">
            <label class="control-label col-md-2">Tema de la pregunta</label>
            <div class="col-md-4">
                <select class="ui fluid search dropdown form-control" name="tema" data-original="" id="tema">
                    <!--<option value="">Tema</option>-->
                    @if (ViewBag.Temas != null)
                    {
                        foreach (var item in ViewBag.Temas)
                        {
                            if (ViewBag.TemaSelected == item.ClaveTema)
                            {
                                <option selected value="@(item.ClaveTema)">@(item.NombreTema)</option>
                            }
                            else
                            {
                                <option value="@(item.ClaveTema)">@(item.NombreTema)</option>
                            }

                        }
                    }
                </select>
            </div>
        </div>*@

                                <div class="form-group">
                                    @Html.LabelFor(model => model.pregunta.Texto, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.pregunta.Texto, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.pregunta.Texto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.pregunta.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <select name="Tipo" id="Tipo" class="form-control" onchange="respuesta(this.value);">
                                            <option value="0">-</option>
                                            @if (Model.pregunta.Tipo == 1)
                {
                            <option selected value="1">Opcion multiple</option>
                            <option value="2">V/F</option>
}
else if (Model.pregunta.Tipo == 2)
{
                            <option value="1">Opcion multiple</option>
                            <option selected value="2">V/F</option>
}
                                        </select>
                                        @Html.ValidationMessageFor(model => model.pregunta.Tipo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.pregunta.Dificultad, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <select name="Dificultad" id="Dificultad" class="form-control">
                                            @if (Model.pregunta.Dificultad == 1)
                {
                            <option selected value="1">Facil</option>
                            <option value="2">Regular</option>
                            <option value="3">Intermedia</option>
                            <option value="4">Avanzada</option>
}
else if (Model.pregunta.Dificultad == 2)
{
                            <option value="1">Facil</option>
                            <option selected value="2">Regular</option>
                            <option value="3">Intermedia</option>
                            <option value="4">Avanzada</option>
}
else if (Model.pregunta.Dificultad == 3)
{
                            <option value="1">Facil</option>
                            <option value="2">Regular</option>
                            <option selected value="3">Intermedia</option>
                            <option value="4">Avanzada</option>
}
else if (Model.pregunta.Dificultad == 4)
{
                            <option value="1">Facil</option>
                            <option value="2">Regular</option>
                            <option value="3">Intermedia</option>
                            <option selected value="4">Avanzada</option>
}
                                        </select>
                                        @Html.ValidationMessageFor(model => model.pregunta.Dificultad, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Imagen URL</label>
                                    <div class="col-md-10">
                                        <input type="text" name="ImageFileURL" id="ImageFileURL" />
                                    </div>
                                </div>

                                <!--Seccion de respuestas-->
                                <div class="form-group">
                                    <div class="col-md-4">
                                        Respuesta
                                    </div>
                                </div>

                                <div id="opciones">
                                    @if (Model.pregunta.Tipo == 1)
        {
                            <div class="form-group">
                                <a class="control-label col-md-2">Correcta</a>
                                <div class="col-md-2">
                                    <input id="cTextoRespuesta" type="text" class="form-control" placeholder="textoRespuesta" value="@Model.pregunta.RespuestaCorrecta" />
                                </div>
                                <div class="col-md-4">
                                    <input id="cRespuesta" type="text" class="form-control" placeholder="respuesta" value="@Model.pregunta.TextoRespuesta" />
                                </div>
                                <div class="col-md-2">
                                    <a class="btn-default" onclick="addOpcion(@Model.respuestasErroneas.Count);">Agregar respuesta</a>
                                </div>
                            </div>
                            <div id="respuestasIncorrectas">
                                @{var x = 0;}
                                @foreach (var respInc in Model.respuestasErroneas)
    {
                            <div class="form-group">
                                <a class="control-label col-md-2">Incorrecta</a>
                                <div class="col-md-2">
                                    <input id="iTextoRespuesta-@x" type="text" class="form-control" placeholder="textoRespuesta" value="@respInc.Opcion" />
                                </div>
                                <div class="col-md-4">
                                    <input id="iRespuesta-@x" type="text" class="form-control" placeholder="respuesta" value="@respInc.TextoRespuesta" />
                                </div>
                                <div class="col-md-4">
                                    <textarea id="explicacion-@x" type="text" class="form-control" placeholder="explicación">@respInc.Explicacion</textarea>
                                </div>
                            </div>
x++;
}
                            </div>
}
else if (Model.pregunta.Tipo == 2)
{

if (Model.pregunta.TextoRespuesta == "Verdadero")
{
                            <div class="form-group">
                                <a class="control-label col-md-2">Respuesta correcta</a>
                                <div class="col-md-4">
                                    <select name="respuestaCorrecta" id="respuestaCorrecta" class="form-control">
                                        <option value="0">Falso</option>
                                        <option selected value="1">Verdadero</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <a class="control-label col-md-2">Falso</a>
                                <div class="col-md-2">
                                    <input id="falsoTextoRespuesta" type="text" class="form-control" placeholder="textoRespuesta" value="@Model.respuestasErroneas.FirstOrDefault().Opcion" />
                                </div>
                            </div>
                            <div class="form-group">
                                <a class="control-label col-md-2">Verdadero</a>
                                <div class="col-md-2">
                                    <input id="verdaderoTextoRespuesta" type="text" class="form-control" placeholder="textoRespuesta" value="@Model.pregunta.RespuestaCorrecta" />
                                </div>
                            </div>
}
else if (Model.pregunta.TextoRespuesta == "Falso")
{
                            <div class="form-group">
                                <a class="control-label col-md-2">Respuesta correcta</a>
                                <div class="col-md-4">
                                    <select name="respuestaCorrecta" id="respuestaCorrecta" class="form-control">
                                        <option selected value="0">Falso</option>
                                        <option value="1">Verdadero</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <a class="control-label col-md-2">Falso</a>
                                <div class="col-md-2">
                                    <input id="falsoTextoRespuesta" type="text" class="form-control" placeholder="textoRespuesta" value="@Model.pregunta.RespuestaCorrecta" />
                                </div>
                            </div>
                            <div class="form-group">
                                <a class="control-label col-md-2">Verdadero</a>
                                <div class="col-md-2">
                                    <input id="verdaderoTextoRespuesta" type="text" class="form-control" placeholder="textoRespuesta" value="@Model.respuestasErroneas.FirstOrDefault().Opcion" />
                                </div>
                            </div>
}


                            <div class="form-group">
                                <a class="control-label col-md-2">Explicación</a>
                                <div class="col-md-4">
                                    <textarea id="vfExplicacion" class="form-control">@Model.respuestasErroneas.FirstOrDefault().Explicacion</textarea>
                                </div>
                            </div>
}
                                </div>






                                @*<hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDPregunta)

        <div class="form-group">
            @Html.LabelFor(model => model.Texto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Texto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Texto respuesta
            <div class="col-md-10">
                @Html.EditorFor(model => model.TextoRespuesta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TextoRespuesta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Opcion
            <div class="col-md-1">
                @Html.EditorFor(model => model.RespuestaCorrecta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RespuestaCorrecta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dificultad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Dificultad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dificultad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Creada por
            <div class="col-md-2">
                @Html.DropDownList("Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>*@

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Guardar" class="btn btn-success" onclick="SendInformation()" />
                                    </div>
                                </div>
                            </div>
                            

                            <div>
                                @Html.ActionLink("Volver", "Index")
                            </div>

                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }

                        </div>

                    </div>

                </div>

            </div>

        </div>





        <script type="text/javascript">
    function algo() {
        $(document).ready(function () {
            $("#Tipo").change(function () {
                $("#opciones").html('');
                if (this.value == '1') {
                    //if opcion multiple
                    //for
                } else {
                    //if vf
                    addAnswer();
                }

            });
            function addAnswer() {
                var html = '';
                html = '<div class="col-md-1">' +
                    '<input class="form-control text-box single-line" id= "" name= "opcion" type= "text" >' +
                    '</div>';
                $('#opciones').append(html);
            }
        });
    }

    function respuesta(value) {
        //alert(value);
        if (value == 1) {
            opcionMultiple();
        }

        if (value == 2) {
            falsoVerdadero();
        }
    }

    function opcionMultiple() {
        var html = "";
        html = '<div class="form-group"> <a class="control-label col-md-2">Correcta</a> <div class="col-md-2"> <input id="cTextoRespuesta" type="text" class="form-control" placeholder="inciso" /> </div> <div class="col-md-4"> <input id="cRespuesta" type="text" class="form-control" placeholder="respuesta" /> </div> <div class="col-md-2"> <a class="btn-default" onclick="addOpcion();">Agregar respuesta</a> </div> </div> <div class="form-group"> <a class="control-label col-md-2">Incorrecta</a> <div class="col-md-2"> <input id="iTextoRespuesta-0" type="text" class="form-control" placeholder="inciso" /> </div> <div class="col-md-4"> <input id="iRespuesta-0" type="text" class="form-control" placeholder="respuesta" /> </div> <div class="col-md-4"> <textarea id="explicacion-0"type="text" class="form-control" placeholder="explicación" ></textarea> </div> </div> <div id="respuestasIncorrectas"></div>';
        $('#opciones').html(html);
    }

    function falsoVerdadero() {
        var html = "";
        html = '<div class="form-group"> <a class="control-label col-md-2">Respuesta correcta</a> <div class="col-md-4"> <select name="respuestaCorrecta" id="respuestaCorrecta" class="form-control"> <option value="0">Falso</option> <option value="1">Verdadero</option> </select> </div> </div> <div class="form-group"> <a class="control-label col-md-2">Falso</a> <div class="col-md-2"> <input id="falsoTextoRespuesta" type="text" class="form-control" placeholder="inciso"/> </div> </div> <div class="form-group"> <a class="control-label col-md-2">Verdadero</a> <div class="col-md-2"> <input id="verdaderoTextoRespuesta" type="text" class="form-control" placeholder="inciso"/> </div> </div> <div class="form-group"> <a class="control-label col-md-2">Explicación</a> <div class="col-md-4"> <textarea id="vfExplicacion"class="form-control"></textarea> </div> </div>';
        $('#opciones').html(html);
    }

    var i = 0;
    var c = 0;

    function addOpcion(counter) {
        c = counter;
        var x = c + i;
        var html = '';
        html = '<div class="form-group">                                                        ' +
            '    <a class="control-label col-md-2">Incorrecta</a>                            ' +
            '    <div class="col-md-2">                                                      ' +
            '        <input id="iTextoRespuesta-' + x + '" type="text" class="form-control" placeholder="inciso" /> ' +
            '    </div>                                                                      ' +
            '    <div class="col-md-4">                                                      ' +
            '        <input id="iRespuesta-' + x + '" type="text" class="form-control" placeholder="respuesta" />      ' +
            '    </div>                                                                      ' +
            '<div class="col-md-4">                                                               ' +
            '    <textarea id="explicacion-' + x + '" type="text" class="form-control" placeholder="explicación" ></textarea>' +
            '</div>                                                                               ' +
            '</div>';
        i++;
        $('#respuestasIncorrectas').append(html);
    }

    function SendInformation() {

        //var id = parseInt(document.getElementById("Id").value);
        var idPregunta = parseInt(document.getElementById("idPregunta").value);
            var tipo = parseInt(document.getElementById("Tipo").value);

            var temas = document.getElementById("ClaveTema");

        var tema = temas.options[temas.selectedIndex].value;

        var texto = document.getElementById("pregunta_Texto").value;
        var dificultad = parseInt(document.getElementById("Dificultad").value);
        //var imageFile = document.getElementById("ImageFile").files[0].name;
        var imageFileURL = document.getElementById("ImageFileURL").value;
        var pregunta = new Object();

        if (tipo == 1) {
            var respuestaCorrecta = new Object();
            var respuestasLista = new Array();

            var ctr = document.getElementById("cTextoRespuesta").value;
            var cr = document.getElementById("cRespuesta").value;
            respuestaCorrecta.ctr = ctr;
            respuestaCorrecta.cr = cr;
            respuestasLista.push(respuestaCorrecta);

            for (var a = 0; a < c+i; a++) {
                var itr = document.getElementById("iTextoRespuesta-" + a).value;
                var ir = document.getElementById("iRespuesta-" + a).value;
                var ie = document.getElementById("explicacion-" + a).value;

                var respuestaIncorrecta = new Object();
                respuestaIncorrecta.itr = itr;
                respuestaIncorrecta.ir = ir;
                respuestaIncorrecta.ie = ie;

                respuestasLista.push(respuestaIncorrecta);
            }

            //La primera es la correcta
            pregunta.respuestasLista = respuestasLista;

        }
        else if (tipo == 2) {
            var verdaderoTextoRespuesta = document.getElementById("verdaderoTextoRespuesta").value;
            var falsoTextoRespuesta = document.getElementById("falsoTextoRespuesta").value;
            var vfExplicacion = document.getElementById("vfExplicacion").value;
            var respuestaCorrecta = document.getElementById("respuestaCorrecta").value;

            pregunta.v = verdaderoTextoRespuesta;
            pregunta.f = falsoTextoRespuesta;
            pregunta.respuesta = respuestaCorrecta;
            pregunta.explicacion = vfExplicacion;
        }

        var postData = { pregunta: JSON.stringify(pregunta), tipo, tema, dificultad, texto, imageFileURL, idPregunta };








            $.ajax({
                type: "POST",
                url: "/Preguntas/Edit/"+idPregunta,
                data: postData,
                traditional: true,
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        window.location.href = data.url;
                    }
                },
                error: function (xmlhttprequest, textstatus, errorthrown) {
                    //alert(" conection to the server failed ");
                    console.log("error: " + errorthrown);
                }
            });
        }

        </script>



        @Html.Partial("~/Views/Partial/footer.cshtml");