@model ProyectoIntegrador.ViewModels.AlumnoCreateError


@{
                /**/

                Layout = null;

}

@Html.Partial("~/Views/Partial/header.cshtml");



<!-- Page Content -->



<div id="page-wrapper">

    <div class="container-fluid">

        <div class="row bg-title">

            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

                <h4 class="page-title">Carreras</h4>
            </div>

            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                <ol class="breadcrumb">

                    <li><a href="#">Carreras</a></li>

                    <li class="active">Crear</li>

                </ol>

            </div>

            <!-- /.col-lg-12 -->

        </div>

        <!-- /row -->

        @if (Model.error != "")
        {
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box" style="background: red">
                    <p style="color: white"> @Model.error </p>
                </div>
            </div>
            
            
        </div>
        
        }


        <div class="row">

            <div class="col-sm-12">

                <div class="white-box">



                    <div class="row">
                        <div class="col-sm-12">
                            Crear alumno:
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-sm-12">

                            @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.alumno.Matricula, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.alumno.Matricula, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.alumno.Matricula, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.alumno.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.alumno.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.alumno.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.alumno.ApellidoPaterno, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.alumno.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.alumno.ApellidoPaterno, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.alumno.ApellidoMaterno, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.alumno.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.alumno.ApellidoMaterno, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.alumno.Carrera, "Carrera", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownList("Carrera", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.alumno.Carrera, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @Html.HiddenFor(model => model.carreraKey)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.alumno.CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.alumno.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.alumno.CorreoElectronico, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!--<div class="form-group">
        @*Html.LabelFor(model => model.PasswordHash, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })*@
        </div>
    </div>-->

                                <div class="form-group">
                                    <a class="control-label col-md-2">Contraseña</a>
                                    <div class="col-md-4">
                                        <input type="password" class="form-control" placeholder="" name="password" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <a class="control-label col-md-2">Confirmar Contraseña</a>
                                    <div class="col-md-4">
                                        <input type="password" class="form-control" placeholder="" name="passwordConfirm" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-4">
                                        <input type="submit" value="Crear" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                    }

                            <div>
                                @Html.ActionLink("Volver", "Index")
                            </div>

                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }

                        </div>

                    </div>

                </div>

            </div>

        </div>

        @Html.Partial("~/Views/Partial/footer.cshtml");
